CONFIG_ATH10K=m
CONFIG_ATH10K_USB=m

CONFIG_WLAN_VENDOR_INTERSIL=y
CONFIG_P54_COMMON=m
CONFIG_P54_USB=m

CONFIG_MT7663U=m
CONFIG_RT2800USB_UNKNOWN=y

CONFIG_WLAN_VENDOR_RSI=y
CONFIG_RSI_91X=m
CONFIG_RSI_USB=m

# CONFIG_RTW88_8723DU is not set
# CONFIG_RTW88_8821CU is not set
# CONFIG_RTW88_8822BU is not set
# CONFIG_RTW88_8822CU is not set
