[Desktop Entry]
Version=1.0
Name=Vanilla U
Comment=Open Source Wii U Gamepad Implementation
Exec=vanilla-gui
Icon=com.mattkc.vanilla
Terminal=false
Type=Application
Categories=Game
Icon=com.mattkc.vanilla.svg
