name: Build
on:
  push:
    paths-ignore:
    - 'README.md'
  pull_request:
    paths-ignore:
    - 'README.md'
jobs:
  linux:
    strategy:
      matrix:
        arch: [ x86_64, aarch64 ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies
      if: ${{ matrix.arch != 'x86_64' }}
      run: sudo apt -y update && sudo apt -y install qemu-user-static binfmt-support
    
    - name: Run Docker container
      run: docker run -v "${{ github.workspace }}:/vanilla" itsmattkc/vanilla-u-build:${{ matrix.arch }}-latest
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Vanilla U (${{ matrix.arch }})
        path: ${{ github.workspace }}/Vanilla_U-${{ matrix.arch }}.tar.gz

    - name: Upload Continuous Release
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository == 'vanilla-wiiu/vanilla' }}
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        curl -fLOSs --retry 2 --retry-delay 60 https://github.com/probonopd/uploadtool/raw/master/upload.sh
        bash upload.sh Vanilla_U-${{ matrix.arch }}.tar.gz
      
